@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Niagara Solid";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("./fonts/Niagara Solid Regular.ttf") format("truetype");
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EFF0E3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DB9C3E;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #DB9C3E;
} */